<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet"
    href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
  <script src="https://kit.fontawesome.com/0ff456ab54.js"></script>
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="/js/index.js"></script>


  <title>Sprout</title>
</head>

<body>
  {{{body}}}
</body>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>

<script>


  $(document).ready(function () {
        
    ////////////////////////////////////////////////////////
    // Submitting New Project  

    var projectdb;
    $("#pbtn").on("click", function (event) {
      event.preventDefault();
      var newProject = {
        title: $("#ptitle").val().trim(),
        body: $("#pbody").val().trim(),
        skills: $("#pskill").val().trim(),
        link: $("#plink").val().trim()
      };
      $.post("/api/newProject", newProject)
        .done(function (data) {
          console.log(data);
          projectdb = data;
        });
      $("#ptitle").val("");
      $("#pbody").val("");
      $("#pskill").val("");
      $("#plink").val("");
    });

  ////////////////////////////////////////////////////////
  //Render Project Database

    function renderProjects() {
      $.get("/api/projectExamples", getProjectDb);
    }
    function getProjectDb(data) {
      var rows = [];
      for (var i = 0; i < data.length; i++) {
        rows.push(data[i]);
      }
      console.log(rows);
      return rows;
    }
    renderProjects();


    ////////////////////////////////////////////////////////
    // Submitting New API

    $("#abtn").on("click", function (event) {
      event.preventDefault();
      var newProject = {
        title: $("#atitle").val().trim(),
        body: $("#abody").val().trim(),
        type: $("#atype").val().trim(),
        link: $("#alink").val().trim(),
        score: 1
      };
      $.post("/api/newApi", newProject)
        .done(function (data) {
          console.log(data);
        });
      $("#atitle").val("");
      $("#abody").val("");
      $("#alink").val("");
    });

  ////////////////////////////////////////////////////////
  //API and Library Vote onClick Functions

    $('body').on('click', '.apiVoteBtn', function updateScore() {
      const id = $(this).attr('apiId');
      console.log('clicked')
      $.ajax({ 
        method: "PUT",
        url: "api/updateapi/" + id,
      });
 

  });

  $('body').on('click', '.libVoteBtn', function updateScore() {
      const id = $(this).attr('libId');
      console.log('clicked')
      $.ajax({ 
        method: "PUT",
        url: "api/updatelib/" + id,
      });
 

  });

  ////////////////////////////////////////////////////////
  //Render Api Trending Database

    function renderApiTrend() {
      $.get("/api/apiLists", getAPIS);
    }
    function getAPIS(data) {

      for (var i = 0; i < data.length; i++) {
        console.log(data[i]);
       var voteBtn = ("<button class='apiVoteBtn' apiId=" + data[i].id + " style='background-color: #3f3f3f; color: #48ACF0; border: #3f3f3f;'>"+"<i class='fas fa-tint grow-icon'></i>"+ "</button>");
        var apiRow = $("<tr>");
        apiRow.append("<td><a>" + data[i].id + "</a></td>");
        apiRow.append("<td><a>" + data[i].title + "</a></td>");
        apiRow.append("<td><a>" + data[i].type + "</a></td>");
        apiRow.append("<td><a>" + data[i].link + "</a></td>");
        apiRow.append("<td><a>" + data[i].body + "</a></td>");
        apiRow.append("<td><a>" + data[i].score + "</a></td>");
        apiRow.append("<td><a>" + voteBtn + "</a></td>");
    
        
        $("#apiTrending").append(apiRow);
      };
 
    };
    renderApiTrend();

    ////////////////////////////////////////////////////////
    // Submitting New Library

    $("#lbtn").on("click", function (event) {
      event.preventDefault();
      var newProject = {
        title: $("#ltitle").val().trim(),
        body: $("#lbody").val().trim(),
        type: $("#ltype").val().trim(),
        link: $("#llink").val().trim(),
        score: 1
      };
      $.post("/api/newLib", newProject)
        .done(function (data) {
          console.log(data);
        });
      $("#ltitle").val("");
      $("#lbody").val("");
      $("#ltype").val("");
      $("#llink").val("");
    });

    ////////////////////////////////////////////////////////
    //Render Library Trending Database

    function renderLib() {
      $.get("/api/libraryLists", getLib);
    }
    function getLib(data) {

      for (var i = 0; i < data.length; i++) {
        console.log(data[i]);
       var voteBtn = ("<button class='libVoteBtn' libId=" + data[i].id + " style='background-color: #3f3f3f; color: #48ACF0; border: #3f3f3f;'>"+"<i class='fas fa-tint grow-icon'></i>"+ "</button>");
        var apiRow = $("<tr>");
        apiRow.append("<td><a>" + data[i].id + "</a></td>");
        apiRow.append("<td><a>" + data[i].title + "</a></td>");
        apiRow.append("<td><a>" + data[i].type + "</a></td>");
        apiRow.append("<td><a>" + data[i].link + "</a></td>");
        apiRow.append("<td><a>" + data[i].body + "</a></td>");
        apiRow.append("<td><a>" + data[i].score + "</a></td>");
        apiRow.append("<td><a>" + voteBtn + "</a></td>");
        
        
        $("#libTrending").append(apiRow);
      };
    };
    renderLib();
    
    ////////////////////////////////////////////////////////
    // Show/Hide Appropriate Page 

    function hideForms() {
      $('.subForm').hide();
    };

    $('#librarySuggestBtn').on('click', function () {
      $('#librarySubForm').show();
      $('.collabInfo').hide();
    });

    $('#apiSuggestBtn').on('click', function () {
      $('#apiSubForm').show();
      $('.collabInfo').hide();
    });

    $('#projectSuggestBtn').on('click', function () {
      $('#projectSubForm').show();
      $('.collabInfo').hide();
    });

    $('#lbtn').on('click', function () {
      hideForms();
      $('.collabInfo').show();
    })

    $('#abtn').on('click', function () {
      hideForms();
      $('.collabInfo').show();
    })

    $('#pbtn').on('click', function () {
      hideForms();
      $('.collabInfo').show();
      console.log('pbtn clicked')
    })


    $(document).ready(function () {
      hideForms();
    });

    ////////////////////////////////////////////////////////

  });
</script>

</html>