{{! Header with Sprout gif}}
<div class="header row">
  <a href="/" class="offset-3 col-6 text-center">
  <img src="/assets/img/Sprout Header.gif" class="header-gif" alt="">
  </a>
</div>

{{! Navbar }}
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FFFFFF">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Sign Up/Login</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar navbar-nav mr-auto offset-9">
        <li class="nav-item">
          <a class="nav-link" href="/trending">Trending</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/collaborate">Collaborate</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/projects">Projects</a>
        </li>
      </ul>
      </div>
    </div>
</nav>

{{! Background starts here}}

<div class="background mb-5">

  {{! Collaborate description tile}}
  <div class="row">
    <div class="col-8 offset-2 text-center mt-5 feature mb-5">
      <h3 class="mt-3 feature-title">Contributing</h3>
      <p class="mt-3">If you have a project, API, or library you would like to submit for review you can add it here.  We are currently accepting projects that will help to improve the learning experience of those who are new to coding.  If you have an API that you love, or even one that caused a major migraine, please submit it.  We welcome any feedback that can help to improve the experience of new coders.</p>
    </div>
  </div>

  {{! Submission buttons}}
  <div class="text-center">
    <button class="btn suggestBtn col-3 mt-5 mb-5">Suggest Library</button>
    <button class="btn suggestBtn col-3 mt-5 mb-5 ml-5 mr-5">Suggest <br> API</button>
    <button class="btn suggestBtn col-3 mt-5 mb-5">Submit Project</button>
  </div>

  {{! User Library Submission Form}}
  <div class="row">
    <div class="col-8 offset-2 mt-5 feature mb-5 suggest-form">
      <h3 class="mt-3 text-center suggest-title">Suggest a Library</h3>

      <div class="form-group">
        <label for="libraryTitle">Title</label>
        <input class="form-control" id="libraryTitleSuggest" placeholder="What's the name of the library?">
      </div>

      <div class="form-group">
        <label for="libraryType">Type</label>
        <select class="form-control" id="libraryTypeSuggest">
          <option>. . .</option>
          <option>HTML</option>
          <option>CSS</option>
          <option>Javascript</option>
          <option>Python</option>
          <option>Ruby</option>
          <option>Java</option>
          <option>MySQL</option>
          <option>C++</option>
          <option>Other</option>
        </select>
      </div>

      <div class="form-group">
        <label for="libraryTitle">Source</label>
        <input class="form-control" id="librarySourceSuggest" placeholder="Link to repository/documentation">
      </div>

      <div class="form-group">
        <label for="libraryDescription">Description</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="What does this library do?"></textarea>
      </div>

      <button class="btn suggest-submit-btn mb-3 float-right" id="librarySubmitBtn">Submit</button>

    </div>
  </div>

  {{! User API Submission Form}}
  <div class="row">
    <div class="col-8 offset-2 mt-5 feature mb-5 suggest-form">
      <h3 class="mt-3 text-center suggest-title">Suggest an API</h3>

      <div class="form-group">
        <label for="apiTitle">Title</label>
        <input class="form-control" id="apiTitleSuggest" placeholder="What's the name of the API?">
      </div>

      <div class="form-group">
        <label for="apiSource">Source</label>
        <input class="form-control" id="apiSourceSuggest" placeholder="Link to API/documentation">
      </div>

      <div class="form-group">
        <label for="apiDescription">Description</label>
        <textarea class="form-control" rows="3" id="apiDescriptionSuggest" placeholder="What does this API do?"></textarea>
      </div>

      <button class="btn suggest-submit-btn mb-3 float-right" id="apiSubmitBtn">Submit</button>
    </div>
  </div>

  {{! User Project Submission Form}}
  <div class="row">
    <div class="col-8 offset-2 mt-5 feature mb-5 suggest-form">
      <h3 class="mt-3 text-center suggest-title">Submit a Project</h3>

      <div class="form-group">
        <label for="apiTitle">Title</label>
        <input class="form-control" id="projectTitleSuggest" placeholder="What's the name of the project">
      </div>

      <div class="form-group">
        <label for="apiSource">Source</label>
        <input class="form-control" id="projectSourceSuggest" placeholder="Link to project source/repository">
      </div>

      <div class="form-group">
        <label for="apiDescription">Description</label>
        <textarea class="form-control" rows="3" id="projectDescriptionSuggest" placeholder="What does this project do?"></textarea>
      </div>

      <div class="form-group">
        <label for="projectSkills">Skills</label>
        <textarea class="form-control" rows="3" id="projectSkillsSuggest" placeholder="What skills are demonstrated, and which technologies are used?"></textarea>
      </div>

      <button class="btn suggest-submit-btn mb-3 float-right" id="projectSubmitBtn">Submit</button>

    </div>
  </div>
</div {{! Background Div Ends Here}} {{! Footer}} <div class="row text-center mt-0">
<div class="col-12 footer text-center">

  {{! Font Awesome Icon Stylings: Github}}
  <span style="font-size: 3em">
    <a href="https://github.com/BrittaB/Sprout" style="color: #3f3f3f" target="_blank">
      <i class="fab fa-github"></i>
    </a>
  </span>

  {{! Font Awesome Icon Stylings: Plant (Contact)}}
  <span style="font-size: 2.5em">
    <a href="" style="color: #FFFFFF; background-color: #3f3f3f; border-radius: 15px;" target="_blank">
      <i class="fas fa-seedling"></i>
    </a>
  </span>

  <div class="col-12 text-center">
    <p class="copyright">Copyright © 2019</p>
  </div>
</div>
</div>