{{! Header with Sprout gif}}
<div class="header row">
  <img src="/assets/img/Sprout Header.gif" class="header-gif offset-4 col-sm-4" alt="">
</div>

<div class="background mb-5">

  {{! Collaborate description tile}}
  <div class="row">
    <div class="col-6 offset-3 text-center mt-5 feature mb-5">
      <h3 class="mt-3 feature-title">Contributing</h3>
      <p class="mt-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas laudantium dicta officia autem
        magnam, fugit quos, numquam quis tenetur doloribus nisi dolorem saepe, reiciendis cupiditate cum? Quasi rem
        similique dolorem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia libero tempora facilis
        dignissimos blanditiis corrupti. Nemo totam alias quo facere, ea at debitis porro qui quis accusamus animi
        sapiente cupiditate. Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora nihil voluptatibus
        veritatis, corporis quo maxime nisi et doloremque, reprehenderit numquam praesentium voluptatem inventore
        quibusdam ducimus, illum deserunt nostrum. Incidunt, blanditiis?</p>
    </div>
  </div>

  {{! Submission buttons}}
  <div class="text-center">
    <button class="btn suggestBtn col-3 mt-5 mb-5">Suggest Library</button>
    <button class="btn suggestBtn col-3 mt-5 mb-5 ml-5 mr-5">Suggest <br> API</button>
    <button class="btn suggestBtn col-3 mt-5 mb-5">Submit Project</button>
  </div>

  {{! User Library Submission Form}}
  <div class="row">
    <div class="col-6 offset-3 mt-5 feature mb-5 suggest-form">
      <h3 class="mt-3 text-center suggest-title">Suggest a Library</h3>

      <div class="form-group">
        <label for="libraryTitle">Title</label>
        <input class="form-control" id="libraryTitleSuggest" placeholder="What's the name of the library?">
      </div>

      <div class="form-group">
        <label for="libraryType">Type</label>
        <select class="form-control" id="libraryTypeSuggest">
          <option>. . .</option>
          <option>HTML</option>
          <option>CSS</option>
          <option>Javascript</option>
          <option>Python</option>
          <option>Ruby</option>
          <option>Java</option>
          <option>MySQL</option>
          <option>C++</option>
          <option>Other</option>
        </select>
      </div>

      <div class="form-group">
        <label for="libraryTitle">Source</label>
        <input class="form-control" id="librarySourceSuggest" placeholder="Link to repository/documentation">
      </div>

      <div class="form-group">
        <label for="libraryDescription">Description</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="What does this library do?"></textarea>
      </div>

      <button class="btn suggest-submit-btn mb-3 float-right" id="librarySubmitBtn">Submit</button>

    </div>
  </div>

  {{! User API Submission Form}}
  <div class="row">
    <div class="col-6 offset-3 mt-5 feature mb-5 suggest-form">
      <h3 class="mt-3 text-center suggest-title">Suggest an API</h3>

      <div class="form-group">
        <label for="apiTitle">Title</label>
        <input class="form-control" id="apiTitleSuggest" placeholder="What's the name of the API?">
      </div>

      <div class="form-group">
        <label for="apiSource">Source</label>
        <input class="form-control" id="apiSourceSuggest" placeholder="Link to API/documentation">
      </div>

      <div class="form-group">
        <label for="apiDescription">Description</label>
        <textarea class="form-control" rows="3" id="apiDescriptionSuggest" placeholder="What does this API do?"></textarea>
      </div>

      <button class="btn suggest-submit-btn mb-3 float-right" id="apiSubmitBtn">Submit</button>
    </div>
  </div>

  {{! User Project Submission Form}}
  <div class="row">
    <div class="col-6 offset-3 mt-5 feature mb-5 suggest-form">
      <h3 class="mt-3 text-center suggest-title">Submit a Project</h3>

      <div class="form-group">
        <label for="apiTitle">Title</label>
        <input class="form-control" id="projectTitleSuggest" placeholder="What's the name of the project">
      </div>

      <div class="form-group">
        <label for="apiSource">Source</label>
        <input class="form-control" id="projectSourceSuggest" placeholder="Link to project source/repository">
      </div>

      <div class="form-group">
        <label for="apiDescription">Description</label>
        <textarea class="form-control" rows="3" id="projectDescriptionSuggest" placeholder="What does this project do?"></textarea>
      </div>

      <div class="form-group">
        <label for="projectSkills">Skills</label>
        <textarea class="form-control" rows="3" id="projectSkillsSuggest" placeholder="What skills are demonstrated, and which technologies are used?"></textarea>
      </div>

      <button class="btn suggest-submit-btn mb-3 float-right" id="projectSubmitBtn">Submit</button>

    </div>
  </div>
</div {{! Background Div Ends Here}} {{! Footer}} <div class="row text-center mt-0">
<div class="col-12 footer text-center">

  {{! Font Awesome Icon Stylings: Github}}
  <span style="font-size: 3em">
    <a href="https://github.com/BrittaB/Sprout" style="color: #3f3f3f" target="_blank">
      <i class="fab fa-github"></i>
    </a>
  </span>

  {{! Font Awesome Icon Stylings: Plant (Contact)}}
  <span style="font-size: 2.5em">
    <a href="" style="color: #FFFFFF; background-color: #3f3f3f; border-radius: 15px;" target="_blank">
      <i class="fas fa-seedling"></i>
    </a>
  </span>

  <div class="col-12 text-center">
    <p class="copyright">Copyright © 2019</p>
  </div>
</div>
</div>