{{! Header with Sprout gif}}
<div class="header row">
  <a href="/" class="offset-3 col-6 text-center">
    <img src="/assets/img/Sprout Header.gif" class="header-gif" alt="">
  </a>
</div>

{{! Navbar}}
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FFFFFF">
  <div class="container-fluid">
    <div class="hvr-icon-fade">
    <a class="navbar-brand hvr-skew-forward hvr-icon" href="#">Sign Up/Login</a>
    </div>
    <button class="navbar-toggler green-hover" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar navbar-nav mr-auto offset-8">
        <li class="nav-item hvr-grow">
          <a class="nav-link hvr-icon-fade" href="/trending">Trending
            <i class="fas fa-fire mb-3 mt-3 hvr-icon"></i>
          </a>
        </li>
        <li class="nav-item collaborate-nav hvr-grow">
          <a class="nav-link hvr-icon-fade" href="/collaborate">Collaborate
            <i class="fas fa-book-open hvr-icon"></i>
          </a>
        </li>
        <li class="nav-item hvr-grow">
          <a class="nav-link hvr-icon-fade" href="/projects">Projects
            <i class="fas fa-project-diagram hvr-icon"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>


{{! Start of .background d iv}}
<div class="background">

  {{! Sprout Summary Feature Tile}}
  <div class="row">
    <div class="col-8 offset-2 text-center mt-5 feature mb-5">
      <h3 class="mt-3 feature-title">Why are we here?</h3>
      <p class="mt-3"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut sit iste tempora qui illo,
        aperiam
        enim nobis.
        Eligendi corrupti odio sint deserunt non nam consectetur molestias, ratione, iusto ipsam suscipit.</p>

      {{! Font Awesome Icon Stylings: Plant}}
      <span style="font-size: 3em; color: #3AFA62">
        <i class="fas fa-seedling mb-3"></i>
      </span>

    </div>
  </div>

  {{! Trending Feature Tile}}
  <div class="row mb-5">
    <div class="col-3 text-center mt-5 feature offset-1">
      <h4 class="mt-3 feature-title">Trending</h4>
      <p"mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, necessitatibus iure hic libero
        error
        laboriosam, neque, mollitia aspernatur similique ea vero repellat eius exercitationem saepe quaerat
        officia
        veniam. Ex, velit.</p>

        {{! Font Awesome Icon Stylings: Fire}}
        <span style="font-size: 3em; color: #E4572E">
          <a href="/trending" style="color: #E4572E">
            <i class="fas fa-fire mb-3 hvr-grow"></i>
          </a>
        </span>

    </div>

    {{! Collaborate Feature Tile}}
    <div class="col-3 text-center mt-5 mr-5 ml-5 feature">
      <h4 class="mt-3 feature-title">Collaborate</h4>
      <p"mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, necessitatibus iure hic libero
        error
        laboriosam, neque, mollitia aspernatur similique ea vero repellat eius exercitationem saepe quaerat
        officia
        veniam. Ex, velit.</p>

        {{! Font Awesome Icon Stylings: Book}}
        <span style="font-size: 3em; color: #48ACF0">
          <a href="/collaborate" style="color: #48ACF0">
            <i class="fas fa-book-open hvr-grow mb-3"></i>
          </a>
        </span>

    </div>

    {{! Projects Feature Tile}}
    <div class="col-3 text-center mt-5 feature">
      <h4 class="mt-3 feature-title">Projects</h4>
      <p"mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, necessitatibus iure hic libero
        error
        laboriosam, neque, mollitia aspernatur similique ea vero repellat eius exercitationem saepe quaerat
        officia
        veniam. Ex, velit.</p>

        {{! Font Awesome Icon Stylings: Project}}
        <span style="font-size: 3em; color: #FFBE0B">
          <a href="/projects" style="color: #FFBE0B">
            <i class="fas fa-project-diagram mb-3 hvr-grow"></i>
          </a>
        </span>

    </div>
  </div>

</div>
{{! End of .background div}}


{{! Footer}}
<div class="row text-center mt-0">
  <div class="col-12 footer">

    {{! Font Awesome Icon Stylings: Github}}
    <span style="font-size: 3em">
      <a href="https://github.com/BrittaB/Sprout" class="footer-icon" style="color: #3f3f3f" target="_blank">
        <i class="fab fa-github footer"></i>
      </a>
    </span>

    {{! Font Awesome Icon Stylings: Plant (Contact)}}
    <span style="font-size: 2.5em">
      <a href="/" class="footer-icon" style="border-radius: 15px; background-color:#3f3f3f" target="_blank">
        <i class="fas fa-seedling"></i>
      </a>
    </span>

    <div class="col-12 text-center">
      <p class="copyright">Copyright © 2019</p>
    </div>
  </div>
</div>