{{! Header with Sprout gif}}
<div class="header row">
  <img src="/assets/img/Sprout Header.gif" class="header-gif offset-4 col-sm-4" alt="">
</div>

{{! Body Div Begins Here}}
<div class="background">

  {{! Sprout Summary Feature Tile}}
  <div class="row">
    <div class="col-6 offset-3 text-center mt-5 feature mb-5">
      <h3 class="mt-3 feature-title">Why are we here?</h3>
      <p class="mt-3"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut sit iste tempora qui illo, aperiam
        enim nobis.
        Eligendi corrupti odio sint deserunt non nam consectetur molestias, ratione, iusto ipsam suscipit.</p>

      {{! Font Awesome Icon Stylings}}
      <span style="font-size: 3em; color: #3AFA62">
        <i class="fas fa-seedling mb-3"></i>
      </span>

    </div>
  </div>

  {{! Trending Feature Tile}}
  <div class="row">
    <div class="col-3 text-center mt-5 feature offset-1">
      <h4 class="mt-3 feature-title">Trending</h4>
      <p"mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, necessitatibus iure hic libero error
        laboriosam, neque, mollitia aspernatur similique ea vero repellat eius exercitationem saepe quaerat officia
        veniam. Ex, velit.</p>

        {{! Font Awesome Icon Stylings}}
        <span style="font-size: 3em; color: #3AFA62">
          <a href="/views/trending" style="color: #3AFA62">
            <i class="fas fa-fire mb-3"></i>
          </a>
        </span>

    </div>

    {{!Collaborate Feature Tile}}
    <div class="col-3 text-center mt-5 mr-5 ml-5 feature">
      <h4 class="mt-3 feature-title">Collaborate</h4>
      <p"mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, necessitatibus iure hic libero error
        laboriosam, neque, mollitia aspernatur similique ea vero repellat eius exercitationem saepe quaerat officia
        veniam. Ex, velit.</p>

        {{! Font Awesome Icon Stylings}}
        <span style="font-size: 3em; color: #3AFA62">
          <i class="fas fa-book-open mb-3"></i>
        </span>

    </div>

    {{!Projects Feature Tile}}
    <div class="col-3 text-center mt-5 feature">
      <h4 class="mt-3 feature-title">Projects</h4>
      <p"mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, necessitatibus iure hic libero error
        laboriosam, neque, mollitia aspernatur similique ea vero repellat eius exercitationem saepe quaerat officia
        veniam. Ex, velit.</p>

        {{! Font Awesome Icon Stylings}}
        <span style="font-size: 3em; color: #3AFA62">
          <i class="fas fa-project-diagram mb-3"></i>
        </span>

    </div>
  </div>
  
</div>
{{! End of .background div}}


{{! Footer}}
<div class="container">
<div class="row footer text-center">
    <div class="col-12">

      {{! Github Icon}}
      <span style="font-size: 3em">
        <a href="https://github.com/BrittaB/Sprout" style="color: #3f3f3f" target="_blank">
        <i class="fab fa-github"></i>
        </a>
      </span>

      {{! Sprout Team Contact Icon}}
       <span style="font-size: 2.5em">
        <a href="" style="color: #FFFFFF; background-color: #3f3f3f; border-radius: 15px;" target="_blank">
        <i class="fas fa-seedling"></i>
        </a>
      </span>

      <div class="col-12 text-center">
        <p class="copyright">Copyright © 2019</p>
      </div>
    </div>
  </div>
  </div>