<div class="header row">
  <img src="/assets/img/Sprout Header.gif" class="header-gif offset-4 col-sm-4" alt="">
</div>

{{! Navbar }}
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FFFFFF">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Sign Up/Login</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar navbar-nav mr-auto offset-9">
        <li class="nav-item">
          <a class="nav-link" href="/trending">Trending</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/collaborate">Collaborate</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/projects">Projects</a>
        </li>
      </ul>
      </div>
    </div>
</nav>

{{! Background starts here}}

<div class="background mb-5">

</div>

{{! Footer}}
<div class="row text-center mt-0">
    <div class="col-12 footer">

        {{! Font Awesome Icon Stylings: Github}}
      <span style="font-size: 3em">
        <a href="https://github.com/BrittaB/Sprout" style="color: #3f3f3f" target="_blank">
        <i class="fab fa-github"></i>
        </a>
      </span>

        {{! Font Awesome Icon Stylings: Plant (Contact)}}
       <span style="font-size: 2.5em">
        <a href="" style="color: #FFFFFF; background-color: #3f3f3f; border-radius: 15px;" target="_blank">
        <i class="fas fa-seedling"></i>
        </a>
      </span>

      <div class="col-12 text-center">
        <p class="copyright">Copyright © 2019</p>
      </div>
    </div>
  </div>