{{! Header with Sprout gif}}
<div class="header row">
  <a href="/" class="offset-3 col-6 text-center">
    <img src="/assets/img/Sprout Header.gif" class="header-gif" alt="">
  </a>
</div>

{{! Navbar }}
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FFFFFF">
  <div class="container-fluid">
    <div class="hvr-icon-fade">
    <a class="navbar-brand hvr-skew-forward hvr-icon loginBtn" href="/auth/google">Sign Up/Login</a>
    </div>
    <button class="navbar-toggler green-hover" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar navbar-nav mr-auto offset-8">
        <li class="nav-item hvr-grow">
          <a class="nav-link hvr-icon-fade" href="/trending">Trending
            <i class="fas fa-fire mb-3 mt-3 hvr-icon"></i>
          </a>
        </li>
        <li class="nav-item collaborate-nav hvr-grow">
          <a class="nav-link hvr-icon-fade" href="/collaborate">Collaborate
            <i class="fas fa-book-open hvr-icon"></i>
          </a>
        </li>
        <li class="nav-item hvr-grow">
          <a class="nav-link hvr-icon-fade" href="/projects">Projects
            <i class="fas fa-project-diagram hvr-icon"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>


{{! Background starts here}}

<div class="background mb-5">

  <div class="row">
    <div class="col-8 offset-2 text-center mt-5 feature mb-5">
      <h3 class="mt-3 feature-title">What's Happening</h3>

      <p class="mt-3">Stay up to date on what's trending in tech. 
        Libraries and APIs are constantly developing, and this is the place 
        to keep an eye on what is changing in the industry. Whether you've
        developed a new technology or simply stumbled upon one, we encourage
        you to submit them using our Collaborate system. If you find something
        you like, help Grow it so other users might discover it as well.
      </p>

    </div>
  </div>

  {{! API Table Title}}
    <div class="row">
    <div class="col-10 offset-1 mt-5 feature mb-5 suggest-form">
      <h3 class="mt-3 text-center table-title">Trending APIs</h3>

      {{! API Table Content}}
      <table class="table" style="background-color:#3f3f3f; color:#FFFFFF;">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Type</th>
      <th scope="col">Source</th>
      <th scope="col">Description</th>
      <th scope="col">Sprout Score</th>
      <th scope="col">Grow</th>
    </tr>
  </thead>
  <tbody id="apiTrending">
  </tbody>
</table>


      </div>
    </div>


<div class="row">
    <div class="col-10 offset-1 mt-5 feature mb-5 suggest-form">
      <h3 class="mt-3 text-center table-title">Trending Libraries</h3>

      {{! Library Table Content}}
      <table class="table" style="background-color:#3f3f3f; color:#FFFFFF;">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Type</th>
      <th scope="col">Source</th>
      <th scope="col">Description</th>
      <th scope="col">Sprout Score</th>
      <th scope="col">Grow</th>
    </tr>
  </thead>
  <tbody id="libTrending">
  </tbody>
</table>
      </div>
    </div>

  </div>

  </div>




{{! Footer}}
<div class="row text-center mt-0">
  <div class="col-12 footer">

    {{! Font Awesome Icon Stylings: Github}}
    <span style="font-size: 3em">
      <a href="https://github.com/gggriffin/Sprout" class="footer-icon" style="color: #3f3f3f" target="_blank">
        <i class="fab fa-github footer"></i>
      </a>
    </span>

    {{! Font Awesome Icon Stylings: Plant (Contact)}}
    <span style="font-size: 2.5em">
      <a href="/" class="footer-icon" style="border-radius: 15px; background-color:#3f3f3f" target="_blank">
        <i class="fas fa-seedling"></i>
      </a>
    </span>

    <div class="col-12 text-center">
      <p class="copyright">Copyright © 2019</p>
    </div>
  </div>
</div>