.Proj {
  text-align: left;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 20px;
}

#projMainCard, #projCard {
  border: solid 10px #FFFFFF;
  border-radius: 15px;
  background-color: #3f3f3f;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

#projMainTitle, #projCardTitle {
  color: #3AFA62;
  font-weight: bold;
}

#projCard {
  text-align: left;
}

#projCardTitle {
  border-bottom: solid 4px #FFFFFF;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 1rem;
  margin-top: 1rem; 
}

h1 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}


#projIcon {
  font-size: 4em;
  margin-top: 3rem;
  text-align: center;
}

#projDesc {
  margin-top: 1rem;
  margin-bottom: .25rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

#intermed {
  color: #FFBE0B;
}

#beginner {
  color: #48ACF0;
}

#gitIcon, #seedIcon {
  border-radius: 15px;
  background-color: #3f3f3f;
  font-size: 4em;
  float: right;
  margin-right: .5rem;
}

#gitIcon {
  color: #9381ff;
}

#seedIcon {
  color: #3AFA62;
}

/* Icon Fade */
.hvr-icon-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-icon-fade .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color;
  transition-property: color;
}
.hvr-icon-fade:hover .hvr-icon, .hvr-icon-fade:focus .hvr-icon, .hvr-icon-fade:active .hvr-icon {
  color: #3AFA62;
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}