* {
  font-family: 'Roboto', sans-serif;
}

/* Creates background color */
.background {
  /* background: rgb(147,129,255);
background: linear-gradient(131deg, #2E1760 0%, #5A6489 50%, #2E1760 100%); */
background-color: #9381ff;
}

.collaborate-nav {
  border-left: 2px solid #BFBFBF;
  border-right: 2px solid #BFBFBF;
}

.copyright {
  font-size: .75em;
}

/* Creates border/background for featured content*/
.feature {
border: solid 10px #FFFFFF;
border-radius: 15px;
background-color: #3f3f3f;
color: #FFFFFF;
}

/*Styling for <h3> titles of feature tiles*/
.feature-title {
color: #3AFA62;
font-weight: bold;
}

.footer {
  background-color: #FFFFFF;
}

.footer-icon {
  color: #FFFFFF;
}

.footer-icon:hover {
  color: #3AFA62;
}

/* Header tile.*/
.header {
  background-color: #3f3f3f;
}

/* Header gif on page load. Needs to be resized for different screen sizes in media query*/
.header-gif {
  width: 40vh;
  height: 40vh;
}

/* Icon Bounce effect for submit/suggest buttons*/
.hvr-bounce-to-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  border-radius: 25%;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #3AFA62;
  border-radius: 25%;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-top:hover, .hvr-bounce-to-top:focus, .hvr-bounce-to-top:active {
  color: #3f3f3f;
  border-radius: 25%;
}
.hvr-bounce-to-top:hover:before, .hvr-bounce-to-top:focus:before, .hvr-bounce-to-top:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  border-radius: 25%;
}

/*Icon Grow effect for home page*/
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


.list-group-item {
  line-height: 2.5;
}

.green-hover:hover {
  color: #3AFA62;
}

/*Navbar Icon hover green effect*/
.hvr-icon-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-icon-fade .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color;
  transition-property: color;
}
.hvr-icon-fade:hover .hvr-icon, .hvr-icon-fade:focus .hvr-icon, .hvr-icon-fade:active .hvr-icon {
  color: #3AFA62;
}

/* Pulse Effect for Project Icons*/
@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
.hvr-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* Login button Skew effect*/
.hvr-skew-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  color: #3AFA62;
}
.hvr-skew-forward:hover, .hvr-skew-forward:focus, .hvr-skew-forward:active {
  -webkit-transform: skew(-10deg);
  transform: skew(-10deg);
  color: #3AFA62;
}

/* .project-description {

} */

.project-icon {
  font-size: 4em;
}

.project-resource-icon {
  font-size: 4em;
}

.project-title {
  color: #3AFA62;
  border-bottom: solid 4px #FFFFFF;
}

/* Buttons to trigger various form submission tiles */
.suggestBtn {
  border: 5px solid #FFFFFF;
  border-radius: 25%;
  background-color: #3f3f3f;
  color: #3AFA62;
  font-weight: bold;
  font-size: 1.5em;
  height: 18vh;
  width: 18vh;
} 

.suggest-form {
border: solid 10px #3AFA62;
border-radius: 15px;
background-color: #3f3f3f;
color: #FFFFFF;
}

.suggest-submit-btn {
  background-color: #FFFFFF;
  color: #3f3f3f;
  border-radius: 15px;
}

.suggest-submit-btn:hover {
  background-color: #3AFA62;
  color: #3f3f3f;
}

.suggest-title {
color: #FFFFFF;
font-weight: bold;
padding-bottom: .75em;
border-bottom: dotted #3AFA62;
}

.table-title {
  color: #FFFFFF;
  font-weight: bold;
  padding-bottom: .75em;
  }


